*{
    margin:0;
    padding:0;
}

body{
    background: #E9ECF4;
    color: #000;
}

.wrapper{
    width: 90%;
    max-width: 1280px;
    margin: 15px auto;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows:repeat(4, auto);
    grid-template-areas:"header header" 
                        "container buscador"
                        "container dashboard"
                        "footer footer";
}

.wrapper > div,
.header, .footer, 
.crypto-container,
.buscador {
    background-color: white;
    padding: 15px;
    border-radius:4px;
}
.buscador{display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    grid-area: buscador;
}
.crypto-container{
    /* grid-row-start: 1;
    grid-column-start: 1;
    grid-row: span 2;     */
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    grid-area: container;
}

.crypto-1, .crypto-2, .crypto-3, .crypto-4 {
    background-color: aqua;
}

.dashboard-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: Center;
    grid-area:dashboard;
}


.header{
    background-color:#12203e;
    color:#fff;
    /* grid-column-start:1;
    grid-column-end:3; */
    grid-area: header;
}

.footer{
    background-color:#12203e;
    color:#fff;
    /* grid-column-start:1;
    grid-column-end:3; */
    grid-area:footer;
}

@media screen and (max-width:768px) {
    .wrapper{
        grid-template-areas:"header header" 
                        "container container"
                        "buscador buscador"
                        "dashboard dashboard"
                        "footer footer";
    }
}